
body{
    text-align: center;
    background-color: rgb(201, 162, 103);
}  
  
.cell{
    width: 60px;
    height: 60px;
    background-color: #c7c2c2;
    border: 4px rgb(85, 52, 8) solid;
    margin: 2px;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    cursor: pointer;
}
.gridrows{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    background-color: grey;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
